/* style for orders.html content */
* {box-sizing: border-box}

/* sets up full-page tabs */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}


.tablink {
  background-color: #c39797;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 40%;
}

.tablink:hover {
  background-color: #b39595;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Table\ 1 {background-color: rgb(197, 78, 78);}
#Table\ 2 {background-color: rgb(89, 151, 89);}
#Table\ 3 {background-color: rgb(95, 95, 200);}
#Table\ 4 {background-color: rgb(238, 194, 112);}