<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mama Mia Pizzaria</title>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>

<body>
<button class="tablink" onclick="openTable('Table 1', this, 'red')" id="defaultOpen">Table 1</button>
<button class="tablink" onclick="openTable('Table 2', this, 'green')">Table 2</button>
<button class="tablink" onclick="openTable('Table 3', this, 'blue')">Table 3</button>
<button class="tablink" onclick="openTable('Table 4', this, 'orange')">Table 4</button>

<div id="Table 1" class="tabcontent">
    <h3>Table 1</h3>
    <p>Current order:</p>
</div>

<div id="Table 2" class="tabcontent">
    <h3>Table 2</h3>
    <p>Current order:</p>
</div>

<div id="Table 3" class="tabcontent">
    <h3>Table 3</h3>
    <p>Current order:</p>
</div>

<div id="Table 4" class="tabcontent">
    <h3>Table 4</h3>
    <p>Current order:</p>
</div>
</body>

<script>
    function openTable(pageName,elmnt,color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;
    }
    
    document.getElementById("defaultOpen").click();
</script>

