{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12" id="home_buttons">
        <a href="/time" class="btn btn-primary" id="clock_in_out_button">Clock In/Out</a>
        <a href="/sales" class="btn btn-primary" id="sales_button">Sales Report</a>
        <a href="/" class="btn btn-primary" id="logout_button">Logout</a>
    </div>
    <div>
        You have clocked in!!
    </div>
    <div>
        <img src="static/images/monkey.jpg" width="350" height="400">
    </div>
</div>

{% endblock %}